*
{
  text-align: center;
}

#container
{
  width: 416px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  div {
    box-sizing: border-box;
    display: inline-block;
    border: 1px black solid;
    height: 100px;
    width: 100px;
    opacity: 0.8;
    margin: 0 2px;
  }
  div:hover{
    opacity: 1;
    border: 2x solid black;
  }
}

.onHover{

}

.startClass{
background-color: #cccccc;
}
