<h2>Ilość sprawdzeń: {{counterOfCheck}}</h2>
<div id="container">
  <ng-container *ngFor="let box of boxes">
    <div *ngIf="box.isDistabled == true || box.isClicked == true ; then isDis; else noDis">

    </div>

    <ng-template #noDis>
      <div (click)="onClick(box)" (mouseover)="onHover(box)" [ngClass]="'startClass'" >
        <!--{{box.name + box.isClicked}} <br>-->
        <!--{{box.isDistabled}}-->
      </div>

    </ng-template >


    <ng-template #isDis>
      <div [style.background-color]="box.color" [style.opacity]="'1'">
        <!--{{box.name + box.isClicked}} <br>-->
        <!--{{box.isDistabled}}-->
      </div>

    </ng-template>

  </ng-container>

</div>




<!--[style.background-color]="box.color"-->
<!--(click)="onClick(box)-->
<!--{{box.name + box.isClicked}}-->
<!--{{box.isDistabled}}-->
<!--<div *ngIf=" box.isDistabled= false"; then "; else [style.opacity="'0.5'">-->
